/*
	Obviously CSS is not very CS-sy but I thought I might as well add it so it isn't that bad to test.
	It is still commented if you want to look through it but there is nothing at all special about it.
*/

/*
	The following CSS resets some of the browser defaults, like margins, font sizes
	and font weights to make it easier to work with.
*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
	font-size: 12pt;
	font-weight: normal;
	text-decoration: none;
	color: #000000;

	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*
	Actual styling from here on
*/

h1 {
	font-size: 3em;
}

h2 {
	font-size: 1.8em;
}

section.form-box-wrapper {
	display: flex;
	flex-wrap: wrap;

	padding: 100px;
}

div.form-box {
	flex-grow: 4;

	background-color: darkslategray;

	margin: 5%;
	padding: 40px;
	border-radius: 50px;

	box-shadow: 5px 5px 15px -5px #000000;
}